---
Language: Cpp
AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AlignConsecutiveAssignments: Consecutive
BinPackParameters: false
BreakBeforeBraces: Linux
PointerAlignment: Right
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Always